
body, html, ul {
  padding: 0;
  margin: 0;
}

/******************** header ********************/

a, a:visited, a:active{
  text-decoration: none;
  color: black
}

.header {
  border: 5px solid #032536;
  padding: 1.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.home-text {
  font-size: 20px;
}

.cat-icon {
  width: auto;
  height: 100px;
}

.nav-list {
  list-style: none;
  display: inline;
  float: right;
}

.nav-item {
  padding: 10px;
  display: inline;
  border: 4px solid #032536;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.nav-item:hover {
  background: lightgrey;
}

/******************** PAGE: index ********************/

.wrapper {
  width: 1200px
}

.home-stuff {
  margin: 0 auto;
  text-align: center;
}
.contact-list {
  list-style:none;
  text-align: center;
}

.contact-list li {
  display: inline;
}

.social-icon {
  width: 40px;
  height: 40px;
}

/******************** PAGE: skills ********************/

.headline-text {
  font-size: 25px;
}

/******************** graph styles for skills ********************/

.bar-graph {
    list-style: none;
    padding-top: 10px;
    width: 45%;
}

ul.bar-graph li {
    height: 35px;
    color: black;
    text-align: left;
    font-weight:bolder;
    font-size: 14px;
    line-height: 35px;
    padding: 0px 20px;
    margin-bottom: 5px;
}

ul.bar-graph li.red {
background: #D46D6A;
border: solid 3px #550200;
width:100%;
}

ul.bar-graph li.orange {
background: #D49B6A;
width:90%;
border: solid 3px #552700;
}

ul.bar-graph li.blue {
background: #417D80;
width:80%;
border: solid 3px #003133;
}

ul.bar-graph li.green {
background: #54A759;
width:70%;
border: solid 3px #004304;
}
