/******************** general ********************/

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('../fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('../fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #C2C1C2;
  color: black;
}

h1 {
  font-family: 'arcadeclassicregular';
  text-align: center;
  background-color: #FC15D5;
}
